{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/profile.css">
<h2>Mein Profil</h2>
<section class="profile-section">
    <div class="top">

        <div class="myprofile rounded-and-shadow">
            <p>Mein Rang: Diamant</p>
        </div>
        <div class="connected-accounts">
            <h3>Verbundene Instagram Accounts:</h3>
            <div class="insta-acc rounded-and-shadow">
                <div class="insta-profile-pic"></div>
                <ul>
                    <li><p>@erfolgsarmee</p></li>
                    <li><p>2000 Follower</p></li>
                </ul>
                
            </div>
            <div class="rounded-and-shadow connect-more-accs">
                <p>Weitere Accounts verbinden (nur im Diamant Paket verfügbar)</p>
            </div>

        </div>
    </div>
    <h3>Mein Engagement Level:</h3>
    <p>95%</p>
    <p>Was ist das Engagement Level? Zu beginn hast du 100%. Unser Bot kontrolliert jeden Tag das Engagement an 10
        zufälligen Posts.
        Wenn du alle Beiträge geliked hast, wird dir nichts von deinem Level abgezogen. Hast du 0 von 10 geliked, wird
        dir 35%
        von deinem Level abgezogen. Hast du nur 5 von 10 geliked, so wird dir 20% abgezogen. Für jede Runde, an der du
        teilnimmst bekommst
        du 3% Engagement Level. Du kannst dir einmalig für 5€ dein Level auf 100% auffüllen.
    </p>
</section>
{% endblock %}