{% extends './layout.html' %}
{% block content %}

<link rel="stylesheet" href="./../../static/css/tools.css">

<h2>Tools & mehr</h2>
<section class="section-tools">
    <div class="tools-container">
        <div class="htg-generator">
            <h3>Hashtag-Generator</h3>
        </div>
        <div class="acc-analyse">
            <h3>Account-Analyse</h3>

        </div>
        <div class="shoutout-matcher">
            <h3>Shoutout-Matcher</h3>

        </div>
    </div>
</section>

<section class="section-tlg-groups">
    <h3>Unsere Telegram Gruppen:</h3>
</section>

{% endblock %}