@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
p,
li,
h1,
h2,
h3,
h4, button, select {
  font-family: "Poppins";
  color: var(--second-color);
  text-decoration: none;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
}
.blue-underline{
  border-bottom: 2px solid var(--first-color);
  display: inline-block;
}
.rounded-and-shadow{
  box-shadow: #e7e7e7 0px 0px 15px;
  border-radius: 10px;
}
button:focus{
  outline: none;
}

/**** HEADER *************************/
header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;

  background-color: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: min(1200px, 95%);
}
header .logo {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
header .nav-links {
  display: flex;
}
header .nav-links li {
  margin-left: 2rem;
}
header .nav-links li a {
  font-weight: 600;
  font-size: 1.1rem;
}
.nav-links li a:hover {
  position: relative;
}
.nav-links li a:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
header img {
  height: 2rem;
  margin-right: 1rem;
}

/**** CONTENT *************************/
.content {
  min-height: 100vh;
  width: min(1200px, 95%);
  margin: var(--header-height) auto 0 auto;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 100%;
  margin-right: 2rem;
}


/**** SIDEBAR *************************/
.sidebar {
  width: min(400px, 30%);
}
.inner-sidebar {
  box-shadow: #e7e7e7 0px 0px 15px;
  margin-top: 10px;
  padding: 13px 20px;
  border-radius: 10px;
  border-bottom: 12px solid var(--first-color);
}
.sidebar-links hr {
  border-top: 1px solid var(--second-color);
  border-bottom: none;
  margin: 6px 0;
}

.sidebar-links li a{
  transition: all .2s ease-out;
}
.sidebar-links li a:hover{
  color: var(--first-color);
}
.sidebar-infos .top-spacing{
  margin-top: 6px;
}
.sidebar-infos .blue-underline{
  margin-top: 20px;
}

/**** FOOTER *************************/
footer {
  background-color: var(--second-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
footer a,
footer p,
footer h2 {
  color: white;
}

/**** SCROLLBAR *************************/
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}
