:root {
    --first-color: #4070f4;
    --second-color: #0e2431;
  }
.profile-section{
    margin-right: 2rem;
    
}
.myprofile{
    padding: 10px 15px;
    transition: all .1s ease-out;
}
.profile-section .top{
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 1.2rem;
    margin-top: 12px;
    margin-bottom: 3rem;
}

.myprofile:hover{
    border-bottom: 10px solid var(--second-color);
}
.insta-acc, .connect-more-accs{
    transition: all .2s ease-out;

}
.insta-acc:hover, .connect-more-accs:hover{
    transform: scale(1.05);

}

/**** VERBUNDENE ACCOUNTS *************************/
.connected-accounts{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 10fr ;
    gap: 1.2rem;
}
.rounded-and-shadow{
    box-shadow: #e7e7e7 0px 0px 15px;
    border-radius: 10px;
}
.insta-acc{
    display: flex;
    align-items: center;
    padding: 10px;
}
.insta-profile-pic{
    background: darkcyan;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50px;
    margin: 0 15px 0 4px;
}
.connect-more-accs{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue-button{
    display: block;
    background-color: var(--first-color);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 10rem;
    margin-left: auto;
    transition: all .3s ease;
}
.blue-button:hover{
    transform: scale(1.1);
}