{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/admin_anfragen.css">

<a href={{url_for('admin')}} style="color: #4070f4; font-weight: bold">Zurück zum Admin Dashboard</a>
<h3>Accounts zum folgen:</h3>

{% for eg_account in anfragenliste %}
<div class="eg_acc_container rounded-and-shadow">
    
    <h4>{{ eg_account }}</h4>
    <table>
        
        {% for insta_username in anfragenliste[eg_account] %}
        <tr>
            <th><a href="http://instagram.com/{{ insta_username }}">{{ insta_username }}</th></a>
            <th><a href={{url_for('anfrage_entfernen', eg_acc_name=eg_account, insta_username=insta_username)}}><i class="fas fa-check"></i></a></th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endfor %}

<br>
<h3>Accounts zum entfolgen: (mit allen EG-Network Accounts)</h3>
<div class="eg_acc_container rounded-and-shadow">
    <table>
            <tr>
    {% for insta_username in unfollowliste %}
                <th><a href="http://instagram.com/{{ insta_username }}">{{ insta_username }}</th></a>
                <th><a href={{url_for('follow_entfernen', insta_username=insta_username)}}><i class="fas fa-check"></i></a></th>
            </tr>

            {% endfor %}
        </table>
</div>

{% endblock %}