{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/egboost.css">

<h2>EG-Boost</h2>
<section class="rounds-container">
    {% for runde in eg_boost_runden %}
    <div class="eg-boost-round rounded-and-shadow">
        <h4>{{runde['name']}}</h4>
        <div class="inner-container">

            <div class="left-area">
                <ul>
                    <li><i class="fas fa-chevron-right"></i> @{{ runde['tag-profile'] }} markieren</li>

                    <li>
                        <p><i class="fas fa-chevron-right"></i>
                            {% if runde['engage-mode'] == 'like_save' %}
                            Liken und speichern
                            {% elif runde['engage-mode'] == 'comment' %}
                            Nur kommentieren
                            {% endif %}
                        </p>
                    </li>
                    <li><i class="fas fa-chevron-right"></i> Premium-Mitglieder müssen nicht engagen. <a
                            href={{url_for('premium')}}> Jetzt Premium kaufen.</a></li>
                </ul>
                <!---<button class="blue-button">Teilnehmen</button>--->
            </div>
            <div class="right-area">

                <ul>
                    <div class="upload-container">
                        <p><i class="fas fa-chevron-right"></i> Beitrag hochladen:</p>
                        <div class=hochladen_engagen>
                            <p>von {{ (runde['start-time'].hour +2 )}}{{ runde['start-time'].strftime(':%M')}}</p>
                            <p>bis {{ (runde['upload-end-time'].hour +2 )}}{{ runde['upload-end-time'].strftime(':%M')}} Uhr</p>
                        </div>
                        <div class=progress_bar>
                            <div style="width: {{ runde['upload-time-factor']}}%;"></div>
                        </div>
                    </div>
                    <div>
                        <p><i class="fas fa-chevron-right"></i> 
                            {% if runde['engage-mode'] == 'like_save' %}
                            Liken und speichern:
                            {% elif runde['engage-mode'] == 'comment' %}
                            Kommentieren:
                            {% endif %}
                        </p>
                        <div class=hochladen_engagen>
                            <p>von {{ (runde['start-time'].hour +2 )}}{{ runde['start-time'].strftime(':%M')}}</p>
                            <p>bis {{ (runde['engage-end-time'].hour +2 )}}{{ runde['engage-end-time'].strftime(':%M')}} Uhr</p>
                        </div>
                        <div class=progress_bar>
                            <div style="width: {{ runde['engage-time-factor']}}%;"></></div>
                        </div>
                    </div>
                    <p class="next-round-info">Die nächste Runde beginnt<br>in 
                        {% if runde['next-round-duration'][0] == 1%}
                         einer Stunde und 
                        {% elif runde['next-round-duration'][0] == 0 %}
                        {% else %}
                        {{ runde['next-round-duration'][0]}}
                        Stunden und 
                        {% endif %}
                        
                        {% if runde['next-round-duration'][1] == 1%}
                        einer Minute. 
                        {% elif runde['next-round-duration'][1] == 0 and runde['next-round-duration'][0] != 0%}
                        {% else %}
                        {{ runde['next-round-duration'][1]}}
                         Minuten.</p>
                        {% endif %}
                </ul>

            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}