{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/egboost.css">

<script>
    function openModal(modal) {
        modal.style.display = "flex";

    }
</script>

<h2>EG-Boost</h2>
<section class="rounds-container">
    {% for runde in eg_boost_runden %}
    <div class="eg-boost-round rounded-and-shadow">
        <h4>{{runde['name']}}</h4>
        <div class="inner-container">

            <div class="left-area">
                <ul>
                    <li><i class="fas fa-chevron-right"></i> @{{ runde['tag-profile'] }} markieren</li>

                    <li>
                        <p><i class="fas fa-chevron-right"></i>
                            {% if runde['engage-mode'] == 'like_save' %}
                            Liken und speichern
                            {% elif runde['engage-mode'] == 'comment' %}
                            Nur kommentieren
                            {% endif %}
                        </p>
                    </li>
                    <li><i class="fas fa-chevron-right"></i> Premium-Mitglieder müssen nicht engagen. <a
                            href={{url_for('premium')}}> Jetzt Premium kaufen.</a></li>
                </ul>
                {% if current_user.instaid1 %}
                {% if user_info["acc_request_status"][runde['tag-profile']] == "pending" %}
                    <button id="myBtn" class="blue-button" style="background-color: rgb(0, 192, 226);">Anfrage gestellt</button>
                {% elif user_info["acc_request_status"][runde['tag-profile']] == "accepted" %}
                    <button id="myBtn" class="blue-button" style="background-color: rgb(67, 182, 0);">Account folgt dir</button>
                {% else %}
                    <button id="myBtn" class="blue-button" onclick="openModal({{ 'myModal' + runde['id']|string}})">Account anfragen</button>
                {% endif %}
                {% endif %}
            </div>
            <div class="right-area">

                <ul>
                    <div class="upload-container">
                        <p><i class="fas fa-chevron-right"></i> Beitrag hochladen:</p>
                        <div class=hochladen_engagen>
                            <p>von {{ (runde['start-time'].hour + zeitfaktor )}}{{ runde['start-time'].strftime(':%M')}}
                            </p>
                            <p>bis
                                {{ (runde['upload-end-time'].hour + zeitfaktor )}}{{ runde['upload-end-time'].strftime(':%M')}}
                                Uhr</p>
                        </div>
                        <div class=progress_bar>
                            <div style="width: {{ runde['upload-time-factor']}}%;"></div>
                        </div>
                    </div>
                    <div>
                        <p><i class="fas fa-chevron-right"></i>
                            {% if runde['engage-mode'] == 'like_save' %}
                            Liken und speichern:
                            {% elif runde['engage-mode'] == 'comment' %}
                            Kommentieren:
                            {% endif %}
                        </p>
                        <div class=hochladen_engagen>
                            <p>von {{ (runde['start-time'].hour + zeitfaktor )}}{{ runde['start-time'].strftime(':%M')}}
                            </p>
                            <p>bis
                                {{ (runde['engage-end-time'].hour + zeitfaktor )}}{{ runde['engage-end-time'].strftime(':%M')}}
                                Uhr</p>
                        </div>
                        <div class=progress_bar>
                            <div style="width: {{ runde['engage-time-factor']}}%;">
                            </div>
                        </div>
                    </div>
                    <p class="next-round-info">Die nächste Runde beginnt<br>in
                        {% if runde['next-round-duration'][0] == 1%}
                        einer Stunde und
                        {% elif runde['next-round-duration'][0] == 0 %}
                        {% else %}
                        {{ runde['next-round-duration'][0]}}
                        Stunden und
                        {% endif %}

                        {% if runde['next-round-duration'][1] == 1%}
                        einer Minute.
                        {% elif runde['next-round-duration'][1] == 0 and runde['next-round-duration'][0] != 0%}
                        {% else %}
                        {{ runde['next-round-duration'][1]}}
                        Minuten.</p>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal{{ runde['id']|string}}" class="outer-modal">
        <div class="modal">
            <div class="modal-top">
                <i class="close fas fa-times"></i>
            </div>
            <h3>Account anfragen (@{{ runde['tag-profile'] }})</h3>
            <div class="modal-main">

                <p>Damit nur Mitglieder von EG-Network an den Engagement Runden teilnehmen können, müssen wir dir erst
                    auf
                    Instagram folgen bevor du uns markieren kannst.<br /></p>
                <p>
                    Mit dem Klick auf "Bestätigen" folgen wir deinem Account <strong>@{{ instaname }}</strong>. Das kann
                    etwas
                    Zeit in Anspruch nehmen.</p>
                <a href={{ url_for('account_anfragen', eg_acc_name=runde['tag-profile'], insta_username=instaname)}}><button class="blue-button">Bestätigen</button></a>
            </div>
        </div>

    </div>
    {% endfor %}
</section>
<script>
    var modalIDs = ["myModal1", "myModal2", "myModal3", "myModal4"];
    var modalObjects = [];
    modalIDs.forEach(modalID => {
        try {
            modalObject = document.getElementById(modalID);
            if(modalObject != null){modalObjects.push(modalObject)}
        } catch {

        }
    })


    // Wenn der close button oder außerhalb geklickt wird, wird das modal geschlossen
    window.onclick = function (event) {
        modalObjects.forEach(modalObject => {
            if (event.target == modalObject || event.target.className.includes("close")) {
                modalObject.style.display = "none";
            }

        })

    }
</script>

{% endblock %}