{% extends './layout.html' %}
{% block content %}
<script type="text/javascript" src="./../../static/js/hashtagliste.js"></script> 
<script>
     function generate_hashtags(category) {
        var e = document.getElementById("select_cat");
        var value = e.options[e.selectedIndex].value;
        category = value;


        var htgs = [];
        for (var i = 0; i < 6; i++) {
            var htg_anz = "a500k";
            switch (i) {
                case 0:
                    htg_anz = "a500k";
                    break;
                case 1:
                    htg_anz = "a200k";
                    break;
                case 2:
                    htg_anz = "a100k";
                    break;
                case 3:
                    htg_anz = "a50k";
                    break;
                case 4:
                    htg_anz = "a10k";
                    break;
                case 5:
                    htg_anz = "a5k";
                    break;
            
                default:
                    htg_anz = "a5k";
                    break;
            }
            
            for (var j = 0; j < 5; j++) {
                var rnd = Math.floor(Math.random() * hashtagliste[category][htg_anz].length+1);
                var htg = hashtagliste[category][htg_anz][rnd];
                if(htgs.includes(htg) == true){
                    rnd = Math.floor(Math.random() * hashtagliste[category][htg_anz].length+1);
                    htg = hashtagliste[category][htg_anz][rnd];

                }
                htgs.push(htg);
                
            }
        }
        document.getElementById("htg-output").innerHTML = htgs.join(" ");
        console.log(htgs.length);
        console.log(htgs);
    }
    function copyHtgs(id) {
        var copyText = document.getElementById(id).innerHTML;
        navigator.clipboard.writeText(copyText);
        console.log('test')
    }
</script>
<link rel="stylesheet" href="./../../static/css/hashtaggenerator.css">
<h2>Hashtag-Generator</h2>
<button id="openTut" class="tut-btn">
    <div class="tutorial-link rounded-and-shadow">
        <h3>Wie funktioniert es?</h3>
        <div>    
            <p>Schaue dir jetzt das Tutorial zu EG-Tags an!</p>        
            <i class="fas fa-arrow-right"></i>
        </div>
    </div>
</button>
<section class="htg-gen-section rounded-and-shadow">
    <div class="category-section">
        <div>
            <h4>Kategorie auswählen:</h4>
            <div class="custom-select">
                <select id="select_cat">
                    <option value="katErfolg">Erfolg</option>
                    <option value="katSpruecheZitate">Sprüche/Zitate</option>
                    <option value="katFinanzen">Finanzen</option>
                    <option value="katFitness">Fitness</option>
                    <option value="katLifestyle">Lifestyle</option>
                </select>
            </div>
        </div>
        <button class="generate-btn" onclick="generate_hashtags('katErfolg')">Generieren</button>
    </div>
    <div class="generate-section">
        <div>
            <h4>Generierte Hashtags:</h4>
            <p id="htg-output">
            </p>
        </div>
        <button class="copy-btn" onclick="copyHtgs('htg-output')">Kopieren</button>
    </div>
</section>

<div id="modal_tut" class="outer-modal">
    <div class="modal">
        <div class="modal-top">
            <i id="closeTut" class="close fas fa-times"></i>
        </div>
        <h3>EG-Tags Tutorial</h3>
        <div class="modal-main">
            <div class="iframe-container"><iframe loading="lazy" allowfullscreen="1" src="https://www.youtube.com/embed/UGqGFHvL3M0"></iframe></div>

        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal_tut = document.getElementById("modal_tut");

    // Get the button that opens the modal
    var openTut = document.getElementById("openTut");

    // Get the <span> element that closes the modal
    var closeTut = document.getElementById("closeTut");

    // When the user clicks on the button, open the modal
    openTut.onclick = function () {
        modal_tut.style.display = "flex";
    }

    // When the user clicks on <span> (x), close the modal
    closeTut.onclick = function () {
        modal_tut.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        console.log("test");
        if (event.target == modal_tut) {
            modal_tut.style.display = "none";
        }
    }
</script>
{% endblock %}