{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/registerlogin.css">
<div class="container">


    <h2>Einloggen</h2>
    <form method="POST" action="">
        {{ login_form.hidden_tag() }}
        <fieldset class="form-group">
            <div class='input-field'>
                {% if login_form.email_username.errors %}
                {{ login_form.email_username(class="input-error", placeholder="Email oder Benutzername") }}
                <div class="invalid-feedback">
                    {% for error in login_form.email_username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ login_form.email_username(placeholder="Email oder Benutzername") }}
                {% endif %}
            </div>
            <div class='input-field'>
                {% if login_form.password.errors %}
                {{ login_form.password(class="input-error", placeholder="Passwort") }}
                <div class="invalid-feedback">
                    {% for error in login_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ login_form.password(placeholder="Passwort") }}
                {% endif %}
            </div>
            <div class="forgot-pw">
                <a href="#" ">Passwort vergessen?</a>
            </div>
            <div>
                {{ login_form.remember }}
                {{ login_form.remember.label }}
            </div>
        </fieldset>
        <div class=" submit-btn">
                    {{ login_form.submit }}
            </div>
    </form>

    <h2>Registrieren</h2>
    <form method="POST" action="">
        {{ register_form.hidden_tag() }}
        <fieldset class="form-group">
            <div class='input-field'>
                {% if register_form.username.errors %}
                {{ register_form.username(class="input-error", placeholder="Benutzername") }}
                <div class="invalid-feedback">
                    {% for error in register_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.username(placeholder="Benutzername") }}
                {% endif %}
            </div>
            <div class='input-field'>
                {% if register_form.email.errors %}
                {{ register_form.email(class="input-error", placeholder="eMail-Adresse") }}
                <div class="invalid-feedback">
                    {% for error in register_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.email(placeholder="eMail-Adresse") }}
                {% endif %}
            </div>
            <div class='input-field'>
                {% if register_form.password.errors %}
                {{ register_form.password(class="input-error", placeholder="Passwort") }}
                <div class="invalid-feedback">
                    {% for error in register_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.password(placeholder="Passwort") }}
                {% endif %}
            </div>
            <div class='input-field'>
                {% if register_form.confirm_password.errors %}
                {{ register_form.confirm_password(class="input-error", placeholder="Passwort bestätigen") }}
                <div class="invalid-feedback">
                    {% for error in register_form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.confirm_password(placeholder="Passwort bestätigen") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="submit-btn">
            {{ register_form.submit }}
        </div>
    </form>
    <a href={{ url_for('login')}}>Bereits registriert? Jetzt einloggen.</a>
</div>
{% endblock %}