{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/policies.css">

<h2>Hier geht es zu unseren Policies</h2>
<a href="https://www.cookiepolicygenerator.com/live.php?token=4VY50jrLnurQ2bFub4Gp9OD1GVb5O32z" target="_blank">
<button class="blue-button">
        Cookie-Policy
    </button> 
</a>

<a href="https://www.cookiepolicygenerator.com/live.php?token=U894lubbmkZFNNdkdV46tiRAW202qcJV" target="_blank">
<button class="blue-button">
        Privacy-Policy
    </button>
</a>
{% endblock %}