{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/premium.css">
<div class="pricing-card rounded-and-shadow">
    <h3 class="pricing-card-header">Premium</h3>
    <div class="price"><sup>€</sup>30<span>/MO</span></div>
    <ul>
        <li><strong>200+</strong> Likes pro Tag ohne selbst zu liken</li>
        <li><strong>Komplette</strong> EG-Analytics</li>
        <li><strong>Komplette</strong> EG-Hashtags</li>
        <li><strong>Komplettes</strong> EG-L.ink</li>
        <li><strong>30+</strong> Kurse & eBooks</li>
    </ul>
    <a href="http://cutt.ly/eg-aufnahme-gruppe" class="order-btn">Direkt kaufen!</a>
</div>
{% endblock %}