{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/profile.css">


<h2>Mein Profil</h2>
<div style="margin-bottom: 1.5rem;">

    <button class="tut-btn" id="openTut">
        <div class="tutorial-link rounded-and-shadow">
            <h3>Wie funktioniert es?</h3>
            <div>    
                <p>Schaue dir das Tutorial an, wenn du dir nicht sicher bist, wie du deinen Insta-Account verknüpfen kannst!</p>        
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </button>
</div>
<section class="profile-section">
    <div class="top">

        <div class="myprofile rounded-and-shadow">
            <a href={{url_for('change_username')}}>
                <h3>{{ current_user.username }}<i class="fas fa-pen"></i></h3>
            </a>
            <ul>
                <li>
                    <p><strong>Rang:</strong>
                        {% if current_user.rang == 'kein Rang' %}
                        gratis Mitgliedschaft
                        {% else %}
                        {{ current_user.rang }}
                        {% endif %}
                    </p>
                </li>
                <li>
                    <p><strong>Email:</strong> {{ current_user.email }}</p>
                </li>
                <li><a href={{url_for('change_password')}}>Passwort ändern <i class="fas fa-pen"></i></a></li>
                <li><strong>Affiliate Einladungen:  </strong>{{aff_invites}}</p></li>
                <li><strong>Mein Affiliate Link:  </strong><br/><a href="https://eg-network.co/login/{{current_user.id}}?mode=register">eg-network.co/login/{{current_user.id}}?mode=register</a></li>
            </ul>
        </div>
        <div class="connected-accounts">
            <h3>Verbundene Instagram Accounts:</h3>
            {% if current_user.instaid1 %}

            <div class="insta-acc">
                <img class="insta-profile-pic" src="{{insta_acc1_info['profile_pic_url']}}" alt="">
                <ul>
                    <li>
                        <a
                            href="https://www.instagram.com/{{insta_acc1_info['username']}}">{{insta_acc1_info['username']}}</a>
                    </li>
                    <li class="bottom-line">
                        <p>{{insta_acc1_info['followers']}} Follower</p>
                        <button id="del_acc_btn1"><i class="fas fa-trash"></i></button>
                    </li>
                </ul>
            </div>
            {% else %}
            <a href={{url_for('add_insta_acc')}}>
                <div class="insta-acc add-account">
                    <div class="add-account-inner">
                        <h4>Instagram Account hinzufügen</h4>
                        <div class="plus-icon">
                            <i class="fas fa-plus"></i>

                        </div>
                    </div>
                </div>
            </a>
            {% endif %}

            {% if current_user.rang == 'kein Rang' %}
            <div class="connect-more-accs">
                <div>

                    <h4>Weitere Accounts verbinden</h4>
                    <p>(nur im Diamant Paket verfügbar)</p>
                </div>
                <a href={{url_for('premium')}}><button class="blue-button">Jetzt informieren</button></a>
            </div>

            {% else %}

            {% if current_user.instaid2 %}
            <div class="insta-acc">
                <img class="insta-profile-pic" src="{{insta_acc2_info['profile_pic_url']}}" alt="">
                <ul>
                    <li>
                        <a
                            href="https://www.instagram.com/{{insta_acc2_info['username']}}">{{insta_acc2_info['username']}}</a>
                    </li>
                    <li class="bottom-line">
                        <p>{{insta_acc2_info['followers']}} Follower</p>
                        <button id="del_acc_btn2"><i class="fas fa-trash"></i></button>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% if current_user.instaid3 %}
            <div class="insta-acc">
                <img class="insta-profile-pic" src="{{insta_acc3_info['profile_pic_url']}}" alt="">
                <ul>
                    <li>
                        <a
                            href="https://www.instagram.com/{{insta_acc3_info['username']}}">{{insta_acc3_info['username']}}</a>
                    </li>
                    <li class="bottom-line">
                        <p>{{insta_acc3_info['followers']}} Follower</p>
                        <button id="del_acc_btn3"><i class="fas fa-trash"></i></button>
                    </li>
                </ul>
            </div>
            
            {% else %}
            <div class="connect-more-accs">
                <div>
                    <h4>Weitere Accounts verbinden</h4>
                    <p>Bis zu zwei weitere Accounts sind möglich.</p>
                </div>
                <a href={{url_for('add_insta_acc')}}><button class="blue-button">Account verbinden</button></a>
            </div>
            {% endif %}

            {% endif %}

        </div>
    </div>
    
    <h3>Engagement Level:</h3>
    <div class="eg-level-container rounded-and-shadow">
        <div class="eg-level-text">
            <p>Mein EG-Level</p>
            <p>{{ current_user.eg_level }}%</p>
        </div>
        <div class="eg-level-bar" style="width: {{ current_user.eg_level }}%;"></div>
    </div>
    {% if (current_user.eg_level < 20) %}
    <div class="flash-message-no-success">
        <p>
            <strong>Dein EG-Level ist unter 20%</strong><br />
            Du bist jetzt für drei Tage von EG-Boost gesperrt!
        </p>
    </div>
    {% endif %}
    <div class="eg-level-description rounded-and-shadow">
        <p><strong>Was ist das Engagement Level?</strong><br />
            <i class="fas fa-chevron-right"></i> Zu Beginn hast du 100%. <br />
            <i class="fas fa-chevron-right"></i> Unser Bot kontrolliert nach jeder Runde an 10 zufälligen Beiträgen,
            ob
            alle Teilnehmer geliked haben.<br />
            <i class="fas fa-chevron-right"></i> Wenn du alle Beiträge geliked hast, wird dir nichts von deinem
            Level
            abgezogen. <br />
            <i class="fas fa-chevron-right"></i> Hast du 0 von 10 geliked, wird dir 35% von deinem Level abgezogen.
            <br />
            <i class="fas fa-chevron-right"></i> Hast du nur 5 von 10 geliked, so wird dir 20% abgezogen. <br />
            <i class="fas fa-chevron-right"></i> Für jede Runde, an der du teilnimmst, bekommst du +3% Engagement
            Level.
            <br />
            <i class="fas fa-chevron-right"></i> Wenn dein EG-Level unter 20% fällt, bist du für drei Tage von
            EG-Boost
            gesperrt. <br />
        </p>
    </div>
</section>

<div id="modal_tut" class="outer-modal">
    <div class="modal">
        <div class="modal-top">
            <i id="closeTut" class="close fas fa-times"></i>
        </div>
        <h3>Mein Profil - Tutorial</h3>
        <div class="modal-main">
            <div class="iframe-container"><iframe loading="lazy" allowfullscreen="1" src="https://www.youtube.com/embed/T4RWis_2fTM"></iframe></div>

        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal_tut = document.getElementById("modal_tut");

    // Get the button that opens the modal
    var openTut = document.getElementById("openTut");

    // Get the <span> element that closes the modal
    var closeTut = document.getElementById("closeTut");

    // When the user clicks on the button, open the modal
    openTut.onclick = function () {
        modal_tut.style.display = "flex";
    }

    // When the user clicks on <span> (x), close the modal
    closeTut.onclick = function () {
        modal_tut.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        console.log("test");
        if (event.target == modal_tut) {
            modal_tut.style.display = "none";
        }
    }
</script>

<!-- The Modal -->
<div id="myModal1" class="outer-modal">
    <div class="modal">
        <div class="modal-top">
            <i class="close1 fas fa-times"></i>
        </div>
        <h3>Account entfernen</h3>
        <div class="modal-main">

            <p>Bist du dir sicher, dass du deinen Account <strong>@{{insta_acc1_info['username']}}</strong> entfernen
                willst?</p>
            <p>Es hat folgende Konsequenzen:</p>
            <p>
                <i class="fas fa-chevron-right"></i> Du kannst nur einmal alle 7 Tage einen neuen Account hinzufügen.
                <br />
                <i class="fas fa-chevron-right"></i> Wir entfolgen dir mit allen Instagram Accounts und du kannst uns
                nicht mehr markieren.<br />
                <i class="fas fa-chevron-right"></i> Wenn du einen neuen Account hinzufügst, musst du wieder bei allen
                EG-Runden eine Anfrage stellen.<br />
            </p>
            <a href={{url_for('del_insta_acc', acc_id=1, insta_username=insta_acc1_info["username"])}}><button class="blue-button"
                    style="background-color: tomato;">Account entfernen</button></a>
        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal1");

    // Get the button that opens the modal
    var btn = document.getElementById("del_acc_btn1");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "flex";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% if current_user.rang != 'kein Rang' %}
<!-- The Modal -->
<div id="myModal2" class="outer-modal">
    <div class="modal">
        <div class="modal-top">
            <i class="close2 fas fa-times"></i>
        </div>
        <h3>Account entfernen</h3>
        <div class="modal-main">

            <p>Bist du dir sicher, dass du deinen Account <strong>@{{insta_acc2_info['username']}}</strong> entfernen
                willst?</p>
            <p>Es hat folgende Konsequenzen:</p>
            <p>
                <i class="fas fa-chevron-right"></i> Du kannst nur einmal alle 7 Tage einen neuen Account hinzufügen.
                <br />
                <i class="fas fa-chevron-right"></i> Wir entfolgen dir mit allen Instagram Accounts und du kannst uns
                nicht mehr markieren.<br />
                <i class="fas fa-chevron-right"></i> Wenn du einen neuen Account hinzufügst, musst du wieder bei allen
                EG-Runden eine Anfrage stellen.<br />
            </p>
            <a href={{url_for('del_insta_acc', acc_id=2, insta_username=insta_acc2_info["username"])}}><button class="blue-button"
                    style="background-color: tomato;">Account entfernen</button></a>
        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal2 = document.getElementById("myModal2");

    // Get the button that opens the modal
    var btn2 = document.getElementById("del_acc_btn2");

    // Get the <span> element that closes the modal
    var close2 = document.getElementsByClassName("close2")[0];

    // When the user clicks on the button, open the modal
    btn2.onclick = function () {
        modal2.style.display = "flex";
    }

    // When the user clicks on <span> (x), close the modal
    close2.onclick = function () {
        modal2.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }
</script>
<!-- The Modal -->
<div id="myModal3" class="outer-modal">
    <div class="modal">
        <div class="modal-top">
            <i class="close3 fas fa-times"></i>
        </div>
        <h3>Account entfernen</h3>
        <div class="modal-main">

            <p>Bist du dir sicher, dass du deinen Account <strong>@{{insta_acc3_info['username']}}</strong> entfernen
                willst?</p>
            <p>Es hat folgende Konsequenzen:</p>
            <p>
                <i class="fas fa-chevron-right"></i> Du kannst nur einmal alle 7 Tage einen neuen Account hinzufügen.
                <br />
                <i class="fas fa-chevron-right"></i> Wir entfolgen dir mit allen Instagram Accounts und du kannst uns
                nicht mehr markieren.<br />
                <i class="fas fa-chevron-right"></i> Wenn du einen neuen Account hinzufügst, musst du wieder bei allen
                EG-Runden eine Anfrage stellen.<br />
            </p>
            <a href={{url_for('del_insta_acc', acc_id=3, insta_username=insta_acc3_info["username"])}}><button class="blue-button"
                    style="background-color: tomato;">Account entfernen</button></a>
        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal3 = document.getElementById("myModal3");

    // Get the button that opens the modal
    var btn3 = document.getElementById("del_acc_btn3");

    // Get the <span> element that closes the modal
    var close3 = document.getElementsByClassName("close3")[0];

    // When the user clicks on the button, open the modal
    btn3.onclick = function () {
        modal3.style.display = "flex";
    }

    // When the user clicks on <span> (x), close the modal
    close3.onclick = function () {
        modal3.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal3) {
            modal3.style.display = "none";
        }
    }
</script>
{% endif %}

{% endblock %}