{% extends './layout.html' %}
{% block content %}
<link rel="stylesheet" href="./../../static/css/profile.css">
<h2>Mein Profil</h2>
<section class="profile-section">
    <div class="top">

        <div class="myprofile rounded-and-shadow">
            <a href={{url_for('change_username')}}>
                <h3>{{ current_user.username }}<i class="fas fa-pen"></i></h3>
            </a>
            <ul>
                <li>
                    <p><strong>Rang:</strong>
                        {% if current_user.rang == 'kein Rang' %}
                        gratis Mitgliedschaft
                        {% else %}
                        {{ current_user.rang }}
                        {% endif %}
                    </p>
                </li>
                <li>
                    <p><strong>Email:</strong> {{ current_user.email }}</p>
                </li>
                <li><a href={{url_for('change_password')}}>Passwort ändern <i class="fas fa-pen"></i></a></li>
            </ul>
        </div>
        <div class="connected-accounts">
            <h3>Verbundene Instagram Accounts:</h3>
            {% if current_user.instaid1 %}

            <div class="insta-acc rounded-and-shadow">
                    <img class="insta-profile-pic" src="{{insta_acc1_info['profile_pic_url']}}" alt="">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/{{insta_acc1_info['username']}}">{{insta_acc1_info['username']}}</a>
                    </li>
                    <li class="bottom-line">
                        <p>{{insta_acc1_info['followers']}} Follower</p>
                        <a href={{url_for('del_insta_acc')}}><i class="fas fa-trash"></i></a>
                    </li>
                </ul>
            </div>
            {% else %}
            <a href={{url_for('add_insta_acc')}}>
                <div class="insta-acc add-account rounded-and-shadow">
                    <div class="add-account-inner">
                        <h4>Instagram Account hinzufügen</h4>
                        <div class="plus-icon">
                            <i class="fas fa-plus"></i>

                        </div>
                    </div>
                </div>
            </a>
            {% endif %}


            <div class="rounded-and-shadow connect-more-accs">
                <div>

                    <h4>Weitere Accounts verbinden</h4>
                    <p>(nur im Diamant Paket verfügbar)</p>
                </div>
                <a href={{url_for('premium')}}><button class="blue-button">Jetzt informieren</button></a>
            </div>

        </div>
    </div>
    <h3>Mein Engagement Level:</h3>
    <p>95%</p>
    <p>Was ist das Engagement Level? Zu beginn hast du 100%. Unser Bot kontrolliert jeden Tag das Engagement an 10
        zufälligen Posts.
        Wenn du alle Beiträge geliked hast, wird dir nichts von deinem Level abgezogen. Hast du 0 von 10 geliked, wird
        dir 35%
        von deinem Level abgezogen. Hast du nur 5 von 10 geliked, so wird dir 20% abgezogen. Für jede Runde, an der du
        teilnimmst bekommst
        du 3% Engagement Level. Du kannst dir einmalig für 5€ dein Level auf 100% auffüllen.
    </p>
</section>
{% endblock %}