.rounds-container {
  margin: 12px 0 2rem 0;
  display: grid;
  gap: 2rem;
}
.eg-boost-round {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: #e7e7e7 0px 0px 15px;
  border-radius: 10px;
  background-size: cover;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.eg-boost-round:hover {
  transform: scale(1.03);
}
.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 220px;
}

h4 {
  text-align: center;
  margin-bottom: 5px;
}

.left-area,
.right-area {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.left-area {
  border-right: 2px solid rgb(238, 238, 238);
  padding-right: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-area li {
  min-height: 2.3rem;
}
i {
  font-size: 0.8rem !important;
  color: rgb(95, 95, 95);
}

.premium-info {
  background-color: #c1d1ff;
  border: 1px solid #4070f4;
  border-radius: 5px;
  padding: 7px 12px;
}
