:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}
.htg-gen-section {
  padding: 10px 15px;
  display: flex;
  min-height: 300px;
  margin-top: 12px;
}
.htg-gen-section div {
  width: 100%;
}
.generate-section {
  border-left: 1px solid rgb(158, 158, 158);
  padding-left: 10px;
  margin-left: 15px;
}
.generate-section,
.category-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generate-btn,
.copy-btn {
  border: none;
  border-radius: 8px;
  background-color: var(--first-color);
  color: white;
  font-size: 1rem;
  height: 2.2rem;
  width: 7rem;
  transition: all 0.2s ease;
  align-self: flex-end;
}
.generate-btn:hover,
.copy-btn:hover {
  transform: scale(1.1);
}
#htg-output {
  font-size: 0.9rem;
}
.custom-select select {
  margin-top: 5px;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 3px solid var(--first-color);
  color: #4070f4;
  font-size: 1rem;
}

.custom-select select:focus {
  outline: none;
}
.iframe-container{
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe{
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  position: absolute;
}
.tut-btn{
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  text-align: left;
}
#modal_tut{
  display: none;
}
.outer-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(8, 14, 27, 0.3); /* Black w/ opacity */
  backdrop-filter: blur(12px);
  justify-content: center;
  align-items: center;
  transition: all 3s ease-in-out;
}
.modal {
  width: 90%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.modal-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-top i{
  font-size: 1.2rem;
}
.modal h3{
  text-align: center;
  font-size: 1.2rem;
}
.modal .modal-main{
  margin-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-main p{
  margin-bottom: 1rem;
}

/**** RESPONSIVE *************************/
@media screen and (max-width: 800px) {
  .htg-gen-section {
    flex-direction: column;
  }
  .generate-section {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    border-top: 1px solid rgb(158, 158, 158);
    padding-top: 10px;
    margin-top: 15px;
  }
  .custom-select {
    margin-bottom: 15px;
  }
  .generate-btn:hover,
  .copy-btn:hover {
    transform: scale(1);
  }
  .generate-btn:active,
  .copy-btn:active {
    transform: scale(.92);
  }
}
